@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #1e88e5;
  --color-onPrimary: #263238;

  --color-secondary: #00acc1;
  --color-onSecondary: #ffffff;
  --color-yellowCustom: #ffc107;
}
